/* Login and  Signup page */

.login-card {
    border: solid 1px #d9d9d9;
    margin-top: 100px;
    height: 500px;
}

.login-card .col-lg-6 {
    padding: 0 5vw;
}

.login-card h2 {
    color: #FFAC1C;
}

.container input:focus {
    box-shadow: none;
    border: solid 1px #FFAC1C;
}

.btn-primary {
    background-color: #FFAC1C;
    border: none;
}
.btn-primary:hover {
    background-color:  rgb(232, 147, 0);
}

.btn-primary:focus {
    box-shadow: none;
    border: solid 1px #FFAC1C;
    background-color: #FFAC1C;
    color: #000;
}

.right-card {
    color: #fff ;
    background-color: #FFAC1C;
}

/* Account page */

.profile-image-container {
    width: 150px; /* Adjust as needed */
    height: 150px; /* Adjust as needed */
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px; /* Add margin for spacing if required */
}

.profile-image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

/* Chat page */

.message-container {
    padding: 15px 5px;
    height: 100% !important;
    padding-top: 50px;
    padding-bottom: 40px;
}

.room-header {
    text-decoration: none;
    color: #000;
    font-size: 30px;
}
.room-header:hover {
    color: #000;
}

#room-name-header {
    margin-bottom: 0 !important;
    padding: 20px;
    border-bottom: #d9d9d9 solid 1px;
}

.load-messages {
    border-bottom:  #d9d9d9 solid 1px !important;
}

#messages {
    height: 400px;
}

.message-block {
    display: flex;
    align-items: center;
}

.message-block img {
    margin: 5px;
}

.message-card {
    max-width: fit-content;
    border-radius: 10px;
}

#load_older_msg_btn {
    text-decoration: none;
    color: #a5a5a5;
}
#load_older_msg_btn:hover {
    color: #353535;
}
#load_older_msg_btn:focus {
    box-shadow: none;
    outline: none;
}

.card-footer {
    background-color: #fff;
    margin-top: 5px;
    padding: 0;
    position: fixed;
    bottom: 0;
    border: none;
    margin-bottom: 0;
}

#message_input_form {
    margin: 0 !important;
    width: 100%;
}

.messages {
    border: none;
    padding: 0;
}

/* Scroll Bar */

/* For WebKit browsers (like Chrome, Safari) */
/* You can adjust these properties to your liking */
::-webkit-scrollbar {
    width: 8px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* color of the track */
}

::-webkit-scrollbar-thumb {
    background: #888; /* color of the scrollbar */
    border-radius: 6px; /* roundness of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* color of the scrollbar on hover */
}

.nav-link {
    color: #fff;
    padding: 8px 8px;
}
.nav-link:hover {
    color: #fff;
}

.dropdown-toggle::after {
    display: none;
}

iframe {
    border: 1px solid #ededed;
    height: 70vh;
}

/* Home Page */

.room-cards {
    border-radius: 10px;
}

.card-header {
    background-color: #fff;
    border-bottom: 1px #d9d9d9 solid;
}

#message-container-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#message_input:focus {
    box-shadow: none;
    border-color: #989898;
}

#sendButton {
    margin: 0;
    border-radius: 0 5px 5px 0;
    height: 100%;
}

@media (max-width: 767px) {
    iframe {
        display: none;
    }
}
