{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row mb-4 mt-5">
        <div class="col-md-12 text-center">
            <h3>Start chatting with friends or create a new room!</h3>
            <a href="/create_room" class="btn btn-primary mt-3">Create a Room</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 mb-4">
            {% for room in rooms %}
            <div class="card mb-3 room-cards">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <h5 class="card-title">{{ room.room_name }}</h5>
                    <!-- <a href="/rooms/{{ room._id.room_id }}" class="btn btn-primary">Join Room</a> -->
                    <button class="btn btn-primary join-room-btn" data-room-id="{{ room._id.room_id }}"
                        onclick="loadRoom(this, '{{ room._id.room_id }}')">Join Room</button>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-8">
            <iframe id="roomIframe" width="100%" height="750px" frameborder="0"></iframe>
        </div>
    </div>
</div>
<script>
    function loadRoom(button, roomId) {
        const buttons = document.querySelectorAll('.join-room-btn');
        buttons.forEach(btn => {
            if (btn !== button) {
                btn.innerText = 'Join Room';
            }
        });
        button.innerText = 'Room Joined';
        const iframe = document.getElementById('roomIframe');
        iframe.src = `/rooms/${roomId}`;
    }

    function isMobileDevice() {
        return window.innerWidth <= 767;
    }
    // Modify button behavior based on device width
    function modifyButtonBehavior() {
        const buttons = document.querySelectorAll('.join-room-btn');
        buttons.forEach(btn => {
            btn.addEventListener('click', function (event) {
                if (isMobileDevice()) {
                    event.preventDefault();
                    const roomId = this.getAttribute('data-room-id');
                    window.location.href = `/rooms/${roomId}`;
                }
            });
        });
    }

    // Call the function when the document is loaded
    document.addEventListener('DOMContentLoaded', modifyButtonBehavior);

</script>

{% endblock %}